; NPM Configuration Notes:
;
; You may see npm warnings when running yarn commands:
; - "npm warn Unknown env config version-git-message/version-tag-prefix/etc"
; - These are caused by yarn v1 passing its default configs as env vars to npm
; - They're harmless warnings and don't affect functionality
; - Can be ignored - they're not actual errors
;
; For versioning, use release-it instead of npm version
